body {
  font-family: "Poppins", sans-serif;
  margin: 50px 50px 0 50px;
  background-color: #faf9f6;
  display: flex;
  flex-direction: column;
  min-height: 95vh;
}
.main {
  flex: 1;
  
}

h1 {
  font-size: 5rem;
}

footer {
  text-align: right;
  color: midnightblue;
}


.left{
  float: left;
  width: 45%;
}

.right{
  float: right;
}

.card{
  width: 45%;
  text-align: justify;
}

.creative {
  color: midnightblue;
}

.tile-image{
  height: 200px;
  float: left;
  margin-right: 500px;
}


@media (max-width : 680px){
  .card{
    display: block;
    width: 100%;
    margin-bottom: 30px;
    text-align: justify;
  }

  .card img{
    width: 100%;
    display: inline;
    object-fit: cover;
    margin-bottom: 10px;
  }

  .logo{
    width: 100px;
  }

  h1{
    text-align: center;
    font-size: 3.5rem ;
  }
}
