body{
    background-color: black;
}
h1{
    font-size: 2rem;
    text-transform: uppercase;
}

.poster{
    margin-top: 100px;
    margin-left: 25%;
    width: 50%;
    text-align: center;
    color: white;
    font-family: "Libre Baskerville", serif;
}
.picture1{
    width: 100%;
    border: 5px solid white;
}